<% provide(:title, 'Notification #' + @notification.id.to_s) %>
<% provide(:prev_page, 'Notifications') %>
<% provide(:prev_link, notifications_path) %>

<h1 class="h1-shrink"><span class="preceding-heading"><%= link_to 'Notifications', notifications_path %> <i class="fa fa-chevron-right"></i></span> Notification #<%= @notification.id %></h1>
<hr/>

<div class="row">
	<div class="col-xs-6">
		<dt>Notification:</dt>
		<p><%= link_to formatted_username(@notification.user), @notification.user %> <%= formatted_action(@notification.action) %> <%= link_to display_name(@notification.current_plant), admin_current_plant_path(@notification.current_plant) %>
		</p>
	</div>
	<div class="col-xs-6">
		<dt>Date/Time:</dt>
		<p><%= @notification.created_at.to_s(:short) %></p>
	</div>
</div>

<hr/>



<% if !@notification.changes_made.blank? %>

	<dt>Note:</dt>
	<p>Currently the application does not track photo changes, or changes to Climates, Flower Colours, Leaf Colours, Origins, Sizes, Soil Types, or Types. At the moment, it simply tracks the plaintext changes. It's poorly-formatted at the moment, but I (Michael) hope to improve the Change Log formatting in future.</p>
	<br/>

	<dt>Changes:</dt>
	<p><%= @notification.changes_made %></p>
<% else %>
	<dt class="no-description">Changes:</dt>
	<p class="no-description">(None)</p>
<% end %>


