<%= simple_form_for(@size, html: { class: 'form-horizontal' , :'accept-charset' => "UTF-8"}, defaults: { input_html: { class: 'form-control' } }) do |f| %>
  <% if @size.errors.any? %>
  <div id="error_explanation">
    <br/>
    <h4><%= pluralize(@size.errors.count, "error") %> prohibited this size from being saved:</h4>
    <ul>
    <% @size.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  	<% end %>
    </ul>
  </div>
  <% end %>
  
  <fieldset>
	  <%= f.input  :name, hint: 'Aim to capture all possible types in about 5-10 different categories.', autofocus: true %>
  </fieldset> 
  <hr/>
  <%= f.submit class: 'btn btn-orange' %>
<% end %>