<% provide(:title, @size.name) %>
<% provide(:prev_page, 'Sizes') %>
<% provide(:prev_link, sizes_path) %> <!-- Change later -->


	<h1 class="h1-shrink"><span class="preceding-heading"><%= link_to 'Sizes', sizes_path %> <i class="fa fa-chevron-right"></i></span> <%= @size.name %></h1>
		<div class="btn-group">

			<%= link_to edit_size_path(@size), class: 'btn-top btn btn-orange button-shrink', style: 'float: left;' do %>
				<i class="fa fa-edit"></i><span class="over-500">&nbsp;&nbsp;Edit</span>
			<% end %>
			<%= link_to size_path(@size), method: :delete, data: { confirm: 'WARNING: Are you sure you want to DELETE this size? Doing so will affect all plants with this size!'}, class: 'btn-top btn btn-orange button-shrink', style: 'float: right;' do %>
				<i class="fa fa-trash-o"></i><span class="over-500">&nbsp;&nbsp;Delete</span>
			<% end %>

		</div>
<hr/>

<p>Plants that are '<%= @size.name %>':</p>
<%= render 'admin_pages/plants_table' %>