<tr>
	<td>#<%= flower_colour.id %></td>
	<td><div class="colour-circle" style="background: <%= (flower_colour.name).gsub(/\s+/, '') %>"></div><%= link_to flower_colour.name, flower_colour_path(flower_colour) %></td>
	<td class="td-shrink">
	<%= link_to edit_flower_colour_path(flower_colour) do %>
		<i class="fa fa-edit"></i><span class="over-400">&nbsp;&nbsp;Edit</span>
	<% end %>

	</td>
	<td class="td-shrink"><%= link_to flower_colour_path(flower_colour), method: :delete, data: { confirm: 'WARNING: Are you sure you want to DELETE this flower colour? Doing so will affect all plants with this flower colour!'} do %>
		<i class="fa fa-trash"></i><span class="over-400">&nbsp;&nbsp;Delete</span>
	<% end %>
	</td>
</tr>
