<%= simple_form_for(@flower_colour, html: { class: 'form-horizontal' , :'accept-charset' => "UTF-8"}, defaults: { input_html: { class: 'form-control' } }) do |f| %>
  <% if @flower_colour.errors.any? %>
  <div id="error_explanation">
    <br/>
    <h4><%= pluralize(@flower_colour.errors.count, "error") %> prohibited this flower colour from being saved:</h4>
    <ul>
    <% @flower_colour.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  	<% end %>
    </ul>
  </div>
  <% end %>
  
  <fieldset>
	  <%= f.input  :name, autofocus: true %>
    <br/>
    <p>Use any of the colours listed <a href="http://www.w3schools.com/cssref/css_colornames.asp" style="font-weight: 700" target="_blank">here</a> and the colour will be displayed whenever the name of the colour is mentioned.</p>
  </fieldset> 
  <hr/>
  <%= f.submit class: 'btn btn-orange' %>
<% end %>