<% provide(:title, 'Favourites') %>
<% provide(:prev_page, 'List') %>
<% provide(:prev_link, current_plants_path) %>

<div class="padding-mobile">

  <% if flash[:success] %>
    <div class="alert alert-info" style="margin-top: 20px">
        <p><%= flash[:success] %></p>
    </div>
  <% end %>

	<div class="center-wrapper">
  	<div class="center-wrapper-inner">
			<h2>Favourites</h2>
		</div>
	</div>

	<% if @favourites_count > 0 %>

		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 40px"></th>
					<th>Name</th>
					<th style="width: 150px"></th>
					<th style="width: 40px"></th>
				</tr>
			</thead>
			<tbody>
				<%  @favourites.each do |fav| %>
					<%= render partial: 'current_plants/current_plant_favourite', locals: { current_plant: fav.current_plant } %>
				<% end %>
			</tbody>
		</table>

	<% end %>


		<div class="center-wrapper">
	  	<div class="center-wrapper-inner">
	  		<hr/>
				<dt>You have <%= pluralize(@favourites_count, 'favourite') %>.</dt>
			</div>
		</div>


</div>

<% if signed_in? %>
  <div style="height: 30px"></div>
  <% if is_trusted? %>
    <%= render 'layouts/ui/action_tab_favourites' %>
    <%= render 'layouts/ui/action_tab_new' %>
  <% else %>
    <%= render 'layouts/ui/action_tab_favourites_large' %>
  <% end %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %>
