<%= simple_form_for(@climate, html: { class: 'form-horizontal' , :'accept-charset' => "UTF-8"}, defaults: { input_html: { class: 'form-control' } }) do |f| %>
  <% if @climate.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@climate.errors.count, "error") %> prohibited this climate from being saved:</h2>
    <ul>
    <% @climate.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  	<% end %>
    </ul>
  </div>
  <% end %>
  
  <fieldset>
	  <%= f.input  :name, hint: 'Aim to capture all possible types in about 5-10 different categories.' %>
  </fieldset> 
 <br>
  <p>
    <%= f.submit %>
  </p>
<% end %>