<% provide(:title, 'Climates List') %>
<% provide(:prev_page, 'Admin') %>
<% provide(:prev_link, admin_path) %>


	<h1 class="h1-shrink"><span class="preceding-heading"><%= link_to 'Admin', admin_path %> <i class="fa fa-chevron-right"></i></span> All Climates<span class="item-counter">(<%= @climates.count %>)</span></h1>
		<%= link_to new_climate_path, class: 'btn btn-orange button-shrink', style: 'float: right; margin-top: -45px' do %>
			<i class="fa fa-plus"></i>&nbsp;&nbsp;New<span class="over-350"> Climate</span>
		<% end %>
<hr/>


<table class="table table-striped">
	<thead>
		<tr>
			<th style="width: 5%">ID</th>
			<th>Name</th>
			<th style="width: 90px;" class="th-shrink"></th>
			<th style="width: 90px;" class="th-shrink"></th>
		</tr>
	</thead>
	<tbody>
		<%= render @climates %>
	</tbody>
</table>

<div class="center-wrapper">
	<div class="center-wrapper-inner">
		<%= will_paginate @climates, :container => false, :previous_label => '<i class="fa fa-chevron-circle-left"></i>&nbsp;Previous'.html_safe, :next_label => 'Next&nbsp;<i class="fa fa-chevron-circle-right"></i>'.html_safe, renderer: BootstrapPagination::Rails %>
	</div>
</div>