<div class="padding-mobile">

  <% if flash[:error] %>
    <div class="alert alert-info" style="margin-top: 20px">
        <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <h2 style="text-align: center; margin-bottom: 35px">Welcome!</h2>
  <hr/>
  <br/>


  <%= link_to 'Browse Plants', current_plants_path, class: 'btn btn-default btn-welcome' %><br/><br/>
  <%= link_to 'Search Plants', search_current_plants_path, class: 'btn btn-default btn-welcome' %><br/><br/>

	<% if signed_in? %>

    <%= link_to 'Log out', log_out_path, method: "delete", class: 'btn btn-default btn-welcome' %> 

  <% else %>
    <%= link_to 'Log in', log_in_path, class: 'btn btn-default btn-welcome' %><br/><br/>
    <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-default btn-welcome' %><br/><br/>
  <% end %>

  <br/><br/>
  <hr/>

</div>


<% if signed_in? %>
  <div style="height: 30px"></div>
  <%= render 'layouts/ui/action_tab_favourites' %>
  <%= render 'layouts/ui/action_tab_new' %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %>




