

<div class="padding-mobile">
  <br/>
  <h2 style="text-align: center; margin-bottom: 35px">Welcome!</h2>
  <hr/>
  <br/>


      <%= link_to 'Browse Plants', current_plants_path, class: 'btn btn-default btn-welcome' %><br/><br/>
      <%= link_to 'Search Plants', current_plants_path, class: 'btn btn-default btn-welcome' %><br/><br/>
  
			<% if signed_in? %>

        <%= link_to 'Log out', log_out_path, method: "delete", class: 'btn btn-default btn-welcome' %> 

      <% else %>
        <%= link_to 'Log in', log_in_path, class: 'btn btn-default btn-welcome' %><br/><br/>
        <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-default btn-welcome' %><br/><br/>
      <% end %>

</div>




<!--
<div main>
<%= link_to 'Genera', genera_path%><br>
<%= link_to 'Families', families_path%><br>
<%= link_to 'Climates', climates_path%><br>
<%= link_to 'Flower Colours', flower_colours_path%><br>
<%= link_to 'Leaf Colours', leaf_colours_path%><br>
<%= link_to 'Origins', origins_path%><br>
<%= link_to 'Sizes', sizes_path%><br>
<%= link_to 'Types', types_path%><br>
<%= link_to 'Soil Types', soil_types_path%><br>
</div>
-->
