<%= simple_form_for(@origin, html: { class: 'form-horizontal' , :'accept-charset' => "UTF-8"}, defaults: { input_html: { class: 'form-control' } }) do |f| %>
  <% if @origin.errors.any? %>
  <div id="error_explanation">
    <br/>
    <h4><%= pluralize(@origin.errors.count, "error") %> prohibited this origin from being saved:</h4>
    <ul>
    <% @origin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  	<% end %>
    </ul>
  </div>
  <% end %>
  
  <fieldset>
	  <%= f.input  :name, autofocus: true %>
  </fieldset> 
  <hr/>
  <%= f.submit class: 'btn btn-orange' %>

<% end %>