<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title><%= full_title(yield(:title)).html_safe %></title>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  	<!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<%= javascript_include_tag "addtohomescreen" %>
	<%= stylesheet_link_tag "addtohomescreen", media: "all" %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% if cookies[:style] == "white" %>
      <%= stylesheet_link_tag    "custom_white", media: "all" %>
    <% else %>
      <%= stylesheet_link_tag    "custom_black", media: "all" %>
    <% end %>
    <%= stylesheet_link_tag    "application", media: "all" %>
  	<!-- Google Fonts -->
  	<link href='http://fonts.googleapis.com/css?family=Montserrat|Oxygen|Noto+Sans|Nunito' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'layouts/navbar' %>

    <noscript>
      <div class="index-banner">Please enable javascript to make full use of this application.</div>
      <div style="height: 30px">
    </noscript>

    <% if is_admin? %>
      <%= link_to admin_path do %>
        <div class="navbar-admin-tab">        
            <p><i class="fa fa-gavel"></i>&nbsp;&nbsp;Administration</p>    
        </div>
      <%end%>
    <% end %>
    <div class="container">
      <div style="height: 64px"></div>
  	    <%= yield %>
        <!-- To allow space for the bottom tabs -->
        <div style="height: 40px"></div>
      </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

  <script type="text/javascript">
    $("img").lazyload({
       //effect : "fadeIn",
       threshold: 500
  });
  </script>


</html>
