<div class="plant-index-box">
  <div class="plant-index-box-photo">
    <%= image_tag current_plant.display_photo.url(:thumb), width:"63px", height:"63px", alt:"Plant photo" %>
  </div>
  <div class="plant-index-box-content">
    <div class="center-wrapper">
      <div class="center-wrapper-inner">
        <%= link_to current_plant_path(current_plant) do %>
          <p style="text-align: center; margin-bottom: 0px; font-size: 120%"><strong><%= display_name(current_plant) %></strong></p>
        <% end %>

        <% if !current_plant.common_name.blank? %>
          <%= link_to current_plant_path(current_plant) do %>
            <p style="text-align: center"><%= current_plant.common_name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to current_plant_path(current_plant) do %>
    <div class="plant-index-box-chevron">
      <i class="fa fa-chevron-right"></i>
    </div>
  <% end %>
</div>