<div class="plant-index-box">
  <div class="plant-index-box-photo">
    <%= link_to current_plant_path(current_plant) do %>
      <%= image_tag '', data: { original: current_plant.display_photo.url(:thumb) }, width:"80px", height:"80px", alt:"", class: "img-lazy" %>
    <% end %>
  </div>
  <div class="plant-index-box-content-wrapper">
    <div class="plant-index-box-content">
      <%= link_to current_plant_path(current_plant) do %>
        <p class="plant-text-container"><strong><%= display_name(current_plant) %></strong></p>
      <% end %>

      <% if !current_plant.common_name.blank? %>
        <%= link_to current_plant_path(current_plant) do %>
          <p style="text-align: center"><%= current_plant.common_name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to current_plant_path(current_plant) do %>
    <div class="plant-index-box-chevron">
      <i class="fa fa-chevron-right"></i>
    </div>
  <% end %>
</div>