<%= render 'top_tabs' %>

<div class="padding-mobile">

  <%= simple_form_for(@current_plant, html: { class: 'form-horizontal' }, defaults: { input_html: { class: 'form-control' } }) do |f| %>
    <% if @current_plant.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <div id="error_explanation">
          <p><%= pluralize(@current_plant.errors.count, "error") %> prohibited this plant from being saved:</p>
          <ul>
          <% @current_plant.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        	<% end %>
          </ul>
        </div>
      </div>
    <% end %>
    

    <div id="tab-naming" class="info-body">
      <fieldset>
	      <legend>Naming</legend>
	      	<%= f.input  :name, hint: 'The display name of the Plant' %>
	      	<%= f.association :genera, :as => :select %>
		      <%= f.association :families, :as => :select %>
	      	<%= f.input  :species %>
      		<%= f.input  :common_name %> 
      		<%= f.input  :scientific_name %> 
      		<%= f.input  :synonym %> 
      		<%= f.input  :subspecies %>
		    <%= f.association :types, :as => :select %>
      </fieldset> 
    </div>

    <div id="tab-descriptions" class="info-body" style="display: none">
      <fieldset>
	      	<legend>Descriptions</legend>
		      <%= f.input  :description, hint: 'Describe the plant in a few lines.', as: :text %> 
        	<%= f.input  :characteristics, hint: 'List the typical characteristics of the plant.', as: :text  %> 
        	<%= f.input  :identification, hint: 'How is this plant identified in the field?', as: :text  %> 
        	<%= f.input  :physical, hint: 'What are the physical characteristics of the plant?', as: :text %>
		    <%= f.association :sizes, :as => :check_boxes %>
		    <%= f.association :flower_colours, :as => :check_boxes %>
		    <%= f.association :leaf_colours, :as => :check_boxes %>
      </fieldset>
    </div>
    
    
    <div id="tab-architectural" class="info-body" style="display: none">
      <fieldset>
	      <legend>Architectural</legend>
      	  <%= f.association :climates, :as => :check_boxes %>
	        <%= f.input  :environment, hint: 'What sort of environment does this plant enjoy?' %>
      	  <%= f.input  :horticulture %>
      	  <%= f.input  :architectural_uses %>
	        <%= f.input  :architectural_info %>
		    <%= f.association :soil_types, :as => :check_boxes %>
      </fieldset>
    </div>
    
    
    <div id="tab-cultural" class="info-body" style="display: none">
      <fieldset>
	      <legend>Cultural</legend>
      	  <%= f.input  :culture, hint: 'What role does this plant play in different World cultures?', as: :text %> 
      	  <%= f.input  :conservation %> 
      	  <%= f.input  :wildlife, hint: 'Does this plant attract any fauna?' %>
      </fieldset>
    </div>
     
    
    <div id="tab-other" class="info-body" style="display: none">
      <fieldset>
     	 <legend>Other</legend>
	     <%= f.association :origins, :as => :radio_buttons %>
      	 <%= f.input  :location_name, hint: 'Where can this plant be found locally?'%> 
      	 <%= f.input  :general_info %>
      	 <%= f.input  :additional_info %> 
      </fieldset>
    </div>
    

    <div id="tab-historical" class="info-body" style="display: none">
      <fieldset>
	      <legend>Historical</legend>
      	  <%= f.input  :discovered_by, hint: 'Biologist credited with discovering this plant.' %>
	        <%= f.input  :named_by, hint: 'Biologist credited with naming this plant'%>
      </fieldset>
    </div>

    <div id="tab-photos" class="info-body" style="display: none">
      <h2>Photos</h2>



        <%= f.simple_fields_for :current_photos do |builder| %>
          <div class="form-photo-box" id="photo-box-0">

            <% if builder.object.new_record? %>
              <span style="float: left;">
                <div style="width: 60px; height: 60px; float: left; margin-right: 10px;">

                  <h5 style="text-align: center">NEW</h5>
                  

                </div>
              </span>
            <% else %>
              <span style="float: left;">
              <%= image_tag builder.object.image.url, style: "width: 60px; height: 60px; float: left; margin-right: 10px;", alt:"An image of a plant", class: "img-circle" %>
              </span>
            <% end %>


            <%= builder.file_field :image %>
            <%= builder.input :description %>
          </div>
        <% end %>






    </div>

    <hr/>

    <%= render :partial => 'bottom_nav_plants_form', :locals => { :f => f } %>

  <% end %>



</div> <!-- padding-mobile -->





<script>

  $(document).ready(function() {
  
    $('#photo-box-1').css({ display: 'none' });    
    $('#photo-box-2').css({ display: 'none' });    
    $('#photo-box-3').css({ display: 'none' });    
    $('#photo-box-4').css({ display: 'none' });    

  });

  $('#btn-naming').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-naming').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-naming').addClass("info-tab-current");
  });

  $('#btn-descriptions').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-descriptions').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-descriptions').addClass("info-tab-current");
  });


  $('#btn-architectural').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-architectural').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-architectural').addClass("info-tab-current");
  });


  $('#btn-cultural').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-cultural').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-cultural').addClass("info-tab-current");
  });

  $('#btn-other').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-other').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-other').addClass("info-tab-current");
  });


  $('#btn-historical').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-historical').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-historical').addClass("info-tab-current");
  });


  $('#btn-photos').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-photos').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-photos').addClass("info-tab-current");
  });

  $('submit-form').click(function(){
      f.submit();
      return false;
  });


  $('#current_plant_photos_attributes_0_image').change(function (){
    $('#photo-box-1').css({ display: '' });
  });

  $('#current_plant_photos_attributes_1_image').change(function (){
    $('#photo-box-2').css({ display: '' });
  });

  $('#current_plant_photos_attributes_2_image').change(function (){
    $('#photo-box-3').css({ display: '' });
  });

  $('#current_plant_photos_attributes_3_image').change(function (){
    $('#photo-box-4').css({ display: '' });
  });



</script>

