<div class="padding-mobile">

  <%= simple_form_for(@current_plant, html: { id: 'plant-form', class: 'form-horizontal' , :'accept-charset' => "UTF-8"}, defaults: { input_html: { class: 'form-control' } }) do |f| %>
    <% if @current_plant.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <div id="error_explanation">
          <p><%= pluralize(@current_plant.errors.count, "error") %> prohibited this plant from being saved:</p>
          <ul>
          <% @current_plant.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        	<% end %>
          </ul>
        </div>
      </div>
    <% end %>
    


    <div id="tab-descriptions" class="info-body">
      <fieldset>
	      	<legend>Descriptions</legend>

	      	<%= f.input  :genus %>
          <%= f.input  :species %>
          <%= f.input  :subspecies %>
		      <%= f.input  :family %>
      		<%= f.input  :common_name %> 
      		<%= f.input  :synonym %> 
		      <%= f.association :type, :as => :select %>
		      <%= f.input  :description, hint: 'Describe the plant in a few lines.', as: :text %> 
        	<%= f.input  :characteristics, hint: 'List the typical characteristics of the plant.', as: :text  %> 
        	<%= f.input  :identification, hint: 'How is this plant identified in the field?', as: :text  %> 
        	<%= f.input  :physical, hint: 'What are the physical characteristics of the plant?', as: :text %>
		      <%= f.association :sizes, :as => :check_boxes %>
		      <!--<%= f.association :flower_colours, :as => :check_boxes %>-->
		      <%= f.association :leaf_colours, :as => :check_boxes %>
      </fieldset>
    </div>
    
    
    <div id="tab-architectural" class="info-body" style="display: none">
      <fieldset>
	      <legend>Architectural</legend>
      	  <%= f.association :climates, :as => :check_boxes %>
	        <%= f.input  :environment, hint: 'What sort of environment does this plant enjoy?', as: :text %>
      	  <%= f.input  :horticulture, as: :text %>
      	  <%= f.input  :architectural_uses, as: :text %>
	        <%= f.input  :architectural_info, as: :text %>
		      <!--<%= f.association :soil_types, :as => :check_boxes %>-->
      </fieldset>
    </div>
    
    
    <div id="tab-environmental" class="info-body" style="display: none">
      <fieldset>
	      <legend>Environmental</legend>
      	  <%= f.input  :culture, hint: 'What role does this plant play in different World cultures?', as: :text %> 
      	  <%= f.input  :conservation, as: :text %> 
      	  <%= f.input  :wildlife, hint: 'Does this plant attract any fauna?', as: :text %>
	        <%= f.association :origins, :as => :check_boxes %>
      	  <%= f.input  :location_1, label: 'Primary Location Name', hint: 'Where can this plant be found locally? Note: Fill Location 1 first.'%> 
		  <table style="width: 100%"><tr>
			  <td class="lat"><%= f.input :lat1, label: 'Latitude', hint: 'Get the lat and long from the URL of google maps.'%></td>
			  <td class="lng"><%= f.input :lng1, label: 'Longitude'%></td>
		  </tr></table>
		  <a id="show_more" onClick="show_more()" style="cursor: pointer; font-weight: bold;"><i>Show More Locations</i></a>
 		  <a id="show_less" onClick="show_less()" style="cursor: pointer; font-weight: bold;" class="invisible"><i>Show Less Locations</i></a>
		  <div id="more_locations" class="invisible">
			  <%= f.input  :location_2, label: 'Location Name 2'%> 
			  <table style="width: 100%"><tr><td class="lat"><%= f.input :lat2 %></td><td class="lng"><%= f.input :lng2 %></td></tr></table>
			  <%= f.input  :location_3, label: 'Location Name 3'%>
			  <table style="width: 100%"><tr><td class="lat"><%= f.input :lat3 %></td><td class="lng"><%= f.input :lng3 %></td></tr></table> 
			  <%= f.input  :location_4, label: 'Location Name 4'%>
			  <table style="width: 100%"><tr><td class="lat"><%= f.input :lat4 %></td><td class="lng"><%= f.input :lng4 %></td></tr></table> 
			  <%= f.input  :location_5, label: 'Location Name 5'%> 
			  <table style="width: 100%"><tr><td class="lat"><%= f.input :lat5 %></td><td class="lng"><%= f.input :lng5 %></td></tr></table>
			  <%= f.input  :location_6, label: 'Location Name 6'%> 		  
			  <table style="width: 100%"><tr><td class="lat"><%= f.input :lat6 %></td><td class="lng"><%= f.input :lng6 %></td></tr></table>
      	 </div>
		  <%= f.input  :general_info, as: :text %>
      	  <%= f.input  :additional_info, as: :text %> 
      	  <%= f.input  :discovered_by, hint: 'Biologist credited with discovering this plant.' %>
	        <%= f.input  :named_by, hint: 'Biologist credited with naming this plant'%>
      </fieldset>
    </div>
     
    
 


    <div id="tab-photos" class="info-body" style="display: none">
      <fieldset>
        <legend>Photos</legend> 


        <dt>Display photo:</dt>
        <br/>
        <div class="form-photo-box photo-box-display">

            <% if !@current_plant.display_photo.exists? %>
              <span style="float: left;">
                <div style="width: 60px; height: 60px; float: left; margin-right: 10px;">
                  <h5 style="text-align: center">NEW</h5>
                </div>
              </span>
            <% else %>
              <span style="float: left;">
              <%= image_tag @current_plant.display_photo.url, style: "width: 60px; height: 60px; float: left; margin-right: 10px;", alt:"An image of a plant", class: "img-circle" %>
              </span>
            <% end %>

          <%= f.file_field  :display_photo %>
          <%= f.input  :display_photo_description %>
        </div>


        <% if !@current_plant.new_record? %>

          <div style="height: 40px"></div>
          <dt>Other photos:</dt>
          <br/>

          <%= f.simple_fields_for :current_photos do |builder| %>
            <div class="form-photo-box">

              <% if builder.object.new_record? %>
                <span style="float: left;">
                  <div style="width: 60px; height: 60px; float: left; margin-right: 10px;">
                    <h5 style="text-align: center">NEW</h5>
                  </div>
                </span>
              <% else %>
                <span style="float: left;">
                <%= image_tag builder.object.image.url, style: "width: 60px; height: 60px; float: left; margin-right: 10px;", alt:"An image of a plant", class: "img-circle" %>
                </span>
              <% end %>


              <%= builder.file_field :image %>
              <%= builder.input :description %>
            </div>
          <% end %>

        <% else %>
          <div style="height: 20px"></div>
          <dt>Other photos:</dt>
          <p>Edit the plant later to add more photos!</p>
        <% end %>



      </fieldset>

    </div>

    <hr/>
    <%= f.submit id: 'submit-button-hidden', style: 'visibility: hidden' %>

    <%= render partial: 'layouts/ui/action_tabs_form', locals: { f: f } %>

  <% end %>

    

</div> <!-- padding-mobile -->
<%= render 'layouts/ui/bottom_tabs_show' %>

<style>
	.lat {
		padding: 0px 10px 10px 0px;
	}
	.lng {
		padding: 0px 0px 10px 10px;
	}
</style>


<script>


  $(document).ready(function() {
  
    $('#photo-box-1').css({ display: 'none' });    
    $('#photo-box-2').css({ display: 'none' });    
    $('#photo-box-3').css({ display: 'none' });    
    $('#photo-box-4').css({ display: 'none' });    

  });

  $('#btn-descriptions').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-descriptions').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-descriptions').addClass("info-tab-current");
  });


  $('#btn-architectural').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-architectural').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-architectural').addClass("info-tab-current");
  });


  $('#btn-environmental').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-environmental').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-environmental').addClass("info-tab-current");
  });


  $('#btn-photos').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-photos').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-photos').addClass("info-tab-current");
  });

  $('submit-form').click(function(){
      f.submit();
      return false;
  });



</script>

