<div id="search-form-hidden">

	<div class="center-wrapper">
	  <div class="center-wrapper-inner">
			<h2>Parameter Search</h2>
		</div>
	</div>
	<%= simple_form_for('plants', :method => :get, :url => url_for(:action => 'search'), html: { class: 'form-horizontal' , :'accept-charset' => "UTF-8"}, defaults: { input_html: { class: 'form-control' } }) do |f| %>
		<fieldset class="fieldset-search-form">
			
			<div class="row">
				<div class="col-sm-4">	
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-type">Type</a>
					<div class="dropdown-checkboxes" id="type-list">
				  	<%= f.input :type, collection: Type.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
				  </div>

					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-size">Size</a>
					<div class="dropdown-checkboxes" id="size-list">
				 	<%= f.input :size, collection: Size.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
					</div>
				</div>
				<div class="col-sm-4">
				  <!--
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-climate">Climate</a>
					<div class="dropdown-checkboxes" id="climate-list">
				 	<%= f.input :climate, collection: Climate.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
					</div>
					-->
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-flower-colour">Flower Colour</a>
					<div class="dropdown-checkboxes" id="flower-colour-list">
				  <%= f.input :flower_colour, collection: FlowerColour.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
				  </div>

					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-leaf-colour">Leaf Colour</a>
					<div class="dropdown-checkboxes" id="leaf-colour-list">
				  <%= f.input :leaf_colour, collection: LeafColour.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
				  </div>
				</div>
				<div class="col-sm-4">
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-origin">Origin</a>
					<div class="dropdown-checkboxes" id="origin-list">
				 	<%= f.input :origin, collection: Origin.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
					</div>
					
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-soil-type">Soil Type</a>
					<div class="dropdown-checkboxes" id="soil-type-list">
				 	<%= f.input :soil_type, collection: SoilType.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
					</div>
					
				</div>
			</div>
		  <br/>
			<div class="center-wrapper">
		  	<div class="center-wrapper-inner">
					<button id="submit-param-search" class="btn btn-orange" onclick="$(this).closest('form').submit(); return false;"><i class="fa fa-search"></i>&nbsp;&nbsp;Search by Parameters</button>
				</div>
			</div>
	  
		<div id="param_help" class="search-help-box">
			<a class="help-block kwsearch" style="margin-top: 0px; margin-bottom: 10px; font-weight: 700; cursor: pointer;" onClick="param_help_click()"><i class="fa fa-close"></i>&nbsp;Close Help</a>
			<p class="help-block kwsearch"><i class="fa fa-info-circle"></i> Hint: Begin your search with only one or two parameters, and slowly refine it over a few iterations. E.g. search for <b>All Trees</b>, then <b>Trees from Western Australia,</b> and so on.</p>
			<p class="help-block kwsearch" style="margin-bottom: 0px"> Note: Not many plants are indexed by <b>Size</b>,&nbsp; <b>Leaf Colour</b>&nbsp; or <b>Climate</b>&nbsp; just yet. Please <a href="/contact">contact us</a> if you would like to help make this app better :)</p>
		</div>
		<a id="show_param_help" class="help-block kwsearch invisible" style="border: 1px solid grey; border-radius: 5px; margin-top: 15px; padding: 8px; cursor: pointer; font-weight: 700;" onClick="show_param_help()"><i class="fa fa-info-circle"></i>&nbsp;Show Help</a>

	  </fieldset>

	<% end %>
	<br/>
	

	<hr style="margin-top: 20px"/>
	<h3 class="or-block">OR</h3>

	<div style="height: 20px"></div>
	
	<div class="center-wrapper">
	  <div class="center-wrapper-inner">
			<h2>Keyword Search</h2>
		</div>
	</div>
	
    <% if flash[:error] %>
      <div class="alert alert-info" style="margin-top: 20px">
          <p><%= flash[:error] %></p>
      </div>
    <% end %>
	
	<br/>
	<fieldset class="fieldset-search-form">
	<%= simple_form_for('search', :method => :get, :url => url_for(:action => 'search'), html: { class: 'form-horizontal' , :'accept-charset' => "UTF-8"}) do |f| %>

		   		<div class="row">		 
			   		<div class="col-md-4"> 
				   		<%= f.autocomplete_field :family, autocomplete_current_plant_family_current_plants_path, label: false, placeholder: "Search Family", minLength: 0, class: 'form-control kw-search-box' %>
				   		<div class="kw-search-name">Family</div>
				   	</div>
			   		<div class="col-md-4"> 
			   			<%= f.autocomplete_field :genus, autocomplete_current_plant_genus_current_plants_path, label: false, placeholder: "Search Genus", class: 'form-control kw-search-box' %>
			   			<div class="kw-search-name">Genus</div>
			   		</div>
			   		<div class="col-md-4"> 
			   			<%= f.autocomplete_field :species, autocomplete_current_plant_species_current_plants_path, label: false, placeholder: "Search Species", class: 'form-control kw-search-box' %>
			   			<div class="kw-search-name">Species</div>
			   		</div>
		   		</div>
		   		<%= f.input :all, label: false, placeholder: "Search All", input_html: { class: 'form-control kw-search-box'} %>
		   		<div class="kw-search-name">All</div>


		   <div style="height: 10px"></div>
			<div class="center-wrapper">
		  	<div class="center-wrapper-inner">
		   	<button id='submit_search' class="btn btn-orange btn-nohover"><i class="fa fa-search"></i>&nbsp;Search by Keywords</button>		  
		   	</div>
		  </div> 	

	  <% end %>
	<div id="key_help" class="search-help-box">
		<a class="help-block kwsearch" style="margin-top: 0px; margin-bottom: 10px; font-weight: 700; cursor: pointer;" onClick="key_help_click()"><i class="fa fa-close"></i>&nbsp;Close Help</a>
		<p class="help-block kwsearch" style="margin-top: 0px;">Hint: When searching in the 'all' field, wrap search terms in double quotes (" ") to search for plants that contain those terms together. E.g. &nbsp;&nbsp;<b>"large green leaves"</b></p>
		<p class="help-block kwsearch" style="margin-top: 5px;">Hint: You can specify exactly which field to search over with '~'. E.g. &nbsp;&nbsp;<b>genus ~ banksia</b>&nbsp; or&nbsp; <b>description ~ bushy</b></p>
		<p class="help-block kwsearch" style="margin-top: 5px; font-weight: 700"><%= link_to help_search_path do %><i class="fa fa-info-circle"></i>&nbsp;More Hints<% end %></p>
	</div>
		<a id="show_key_help" class="help-block kwsearch invisible" style="border: 1px solid grey; border-radius: 5px; margin-top: 15px; padding: 8px; cursor: pointer; font-weight: 700;" onClick="show_key_help()"><i class="fa fa-info-circle"></i>&nbsp;Show Help</a>
	</fieldset>



</div>


<script type="text/javascript">
	$("#show-type").click(function(){
  	$("#type-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-size").click(function(){
  	$("#size-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-flower-colour").click(function(){
  	$("#flower-colour-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-leaf-colour").click(function(){
  	$("#leaf-colour-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-soil-type").click(function(){
  	$("#soil-type-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-origin").click(function(){
  	$("#origin-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-climate").click(function(){
  	$("#climate-list").slideToggle();
  	swapArrows($(this));
	}); 

	function swapArrows(element) {
		if(element.hasClass("btn-searchlist-down")) {
  		element.addClass("btn-searchlist-up");
  		element.removeClass("btn-searchlist-down");
  	} else {
  		element.addClass("btn-searchlist-down");
  		element.removeClass("btn-searchlist-up");  		
  	}
	}
	
	function param_help_click() {
		document.getElementById('param_help').classList.add('invisible');
	}
	
	function key_help_click() {
		document.getElementById('key_help').classList.remove('visible');
		document.getElementById('key_help').classList.add('invisible');
		document.getElementById('show_key_help').classList.remove('invisible');
		document.getElementById('show_key_help').classList.add('visible');
	}
	
	function show_key_help() {
		document.getElementById('show_key_help').classList.add('visible');
		document.getElementById('show_key_help').classList.add('invisible');
		document.getElementById('key_help').classList.remove('invisible');
		document.getElementById('key_help').classList.remove('visible');	
	}
	
	function param_help_click() {
		document.getElementById('param_help').classList.remove('visible');
		document.getElementById('param_help').classList.add('invisible');
		document.getElementById('show_param_help').classList.remove('invisible');
		document.getElementById('show_param_help').classList.add('visible');
	}
	
	function show_param_help() {
		document.getElementById('show_param_help').classList.add('visible');
		document.getElementById('show_param_help').classList.add('invisible');
		document.getElementById('param_help').classList.remove('invisible');
		document.getElementById('param_help').classList.remove('visible');	
	}

	param_help_click();
	key_help_click();




	$("#type-list input:checkbox").click(function() {
    if ($(this).is(":checked")) {
        var group = "input:checkbox[name='" + $(this).attr("name") + "']";
        $(group).prop("checked", false);
        $(this).prop("checked", true);
    } else {
        $(this).prop("checked", false);
    }
	});


</script>