<div id="search-form-hidden">

	<div class="center-wrapper">
	  <div class="center-wrapper-inner">
			<h2>Parameter Search</h2>
		</div>
	</div>
	<%= simple_form_for('plants', :method => :get, :url => url_for(:action => 'search'), html: { class: 'form-horizontal' , :'accept-charset' => "UTF-8"}, defaults: { input_html: { class: 'form-control' } }) do |f| %>
		<fieldset class="fieldset-search-form">
			
			<p class="help-block kwsearch"> Hint: Begin your search with only one or two parameters, and slowly refine it over a few iterations. E.g. search for <b>All Trees</b>, then <b>Trees from Western Australia,</b> and so on.</p>
			<p class="help-block kwsearch" style="margin-bottom: 15px"> Note: Not many plants are indexed by <b>Size</b>,&nbsp; <b>Leaf Colour</b>&nbsp; or <b>Climate</b>&nbsp; just yet. Please <a href="/contact">contact us</a> if you would like to help make this app better :)</p>
			
			<div class="row">
				<div class="col-sm-4">	
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-type">Type</a>
					<div class="dropdown-checkboxes" id="type-list">
				  	<%= f.input :type, collection: Type.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
				  </div>

					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-size">Size</a>
					<div class="dropdown-checkboxes" id="size-list">
				 	<%= f.input :size, collection: Size.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
					</div>
				</div>
				<div class="col-sm-4">
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-climate">Climate</a>
					<div class="dropdown-checkboxes" id="climate-list">
				 	<%= f.input :climate, collection: Climate.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
					</div>

					<!--

					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-flower-colour">Flower Colour</a>
					<div class="dropdown-checkboxes" id="flower-colour-list">
				  <%= f.input :flower_colour, collection: FlowerColour.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
				  </div>

				  -->

					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-leaf-colour">Leaf Colour</a>
					<div class="dropdown-checkboxes" id="leaf-colour-list">
				  <%= f.input :leaf_colour, collection: LeafColour.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
				  </div>
				</div>
				<div class="col-sm-4">
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-origin">Origin</a>
					<div class="dropdown-checkboxes" id="origin-list">
				 	<%= f.input :origin, collection: Origin.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
					</div>

					<!--
					<a class="btn btn-default btn-searchlist btn-searchlist-down" style="width: 100%" id="show-soil-type">Soil Type</a>
					<div class="dropdown-checkboxes" id="soil-type-list">
				 	<%= f.input :soil_type, collection: SoilType.all, label_method: :name, value_method: :id, as: :check_boxes, required: false, label: false %>
					</div>
					-->
				</div>
			</div>
		  <br/>
			<div class="center-wrapper">
		  	<div class="center-wrapper-inner">
					<%= link_to_submit do %>
						<button class="btn btn-orange"><i class="fa fa-search"></i>&nbsp;&nbsp;Search by Parameters</button>
					<% end %>
				</div>
			</div>
	  </fieldset>



	<% end %>
	<br/>
	
	<div style="height: 50px"></div>

	<hr style="margin-top: 20px"/>
	<h3 class="or-block">OR</h3>

	<div style="height: 20px"></div>
	
	<div class="center-wrapper">
	  <div class="center-wrapper-inner">
			<h2>Keyword Search</h2>
		</div>
	</div>
	
    <% if flash[:error] %>
      <div class="alert alert-info" style="margin-top: 20px">
          <p><%= flash[:error] %></p>
      </div>
    <% end %>
	
	<br/>
	<fieldset class="fieldset-search-form">
	  <%= form_tag search_current_plants_path, :method => :get do %>
		  <div class="search-bar-container">
		  	<div class="kw-search-box">
		   		<%= auto_complete_field_tag_jquery(:search, params[:search], {autofocus: true, placeholder: "Search Plants", class: 'form-control kw-search-box-inner' }) %>
		   	</div>
		   	<button id='submit_search' class="btn btn-orange kw-search-button" style="width: 33%; float: right"><i class="fa fa-search"></i>&nbsp;Search</button>		   	
		  </div>
	  <% end %>
		<p class="help-block kwsearch" style="margin-top: 50px;">Hint: wrap search terms in double quotes (" ") to search for plants that contain those terms together. E.g. &nbsp;&nbsp;<b>"large green leaves"</b></p>
		<p class="help-block kwsearch" style="margin-top: 5px;">Hint: You can specify exactly which field to search over with '~'. E.g. &nbsp;&nbsp;<b>genus ~ banksia</b>&nbsp; or&nbsp; <b>description ~ bushy</b></p>
		<p class="help-block kwsearch" style="margin-top: 5px; font-weight: 700"><%= link_to help_search_path do %><i class="fa fa-info-circle"></i>&nbsp;More Hints<% end %></p>
	</fieldset>



</div>


<script type="text/javascript">
	$("#show-type").click(function(){
  	$("#type-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-size").click(function(){
  	$("#size-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-flower-colour").click(function(){
  	$("#flower-colour-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-leaf-colour").click(function(){
  	$("#leaf-colour-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-soil-type").click(function(){
  	$("#soil-type-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-origin").click(function(){
  	$("#origin-list").slideToggle();
  	swapArrows($(this));
	}); 
	$("#show-climate").click(function(){
  	$("#climate-list").slideToggle();
  	swapArrows($(this));
	}); 

	function swapArrows(element) {
		if(element.hasClass("btn-searchlist-down")) {
  		element.addClass("btn-searchlist-up");
  		element.removeClass("btn-searchlist-down");
  	} else {
  		element.addClass("btn-searchlist-down");
  		element.removeClass("btn-searchlist-up");  		
  	}
	}
</script>