<% provide(:title, 'List by A-Z') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>

<%= javascript_include_tag "lazyload", "data-turbolinks-track" => false %>

<% link_to current_plants_path(sortby: 'a-z') do %>
	<p><i class="fa fa-sort-alpha-asc"></i>&nbsp;&nbsp;A-Z</p>    
<% end %>

<% link_to current_plants_path(sortby: 'type') do %>  
	<p><i class="fa fa-cubes"></i>&nbsp;&nbsp;Type</p>    
<% end %>

<div class="index-banner"></div>
<div style="margin-top: 15px"></div>

<div id="plants-list">
	<%= render @current_plants %>
</div>


<% if signed_in? %>
  <div style="height: 30px"></div>
  <%= render 'layouts/ui/action_tab_favourites' %>
  <%= render 'layouts/ui/action_tab_new' %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %> <!-- render 'index' instead of 'default' for the types, etc -->

<script type="text/javascript">
	$("img.img-lazy").lazyload({
     effect : "fadeIn",
     threshold: 00
});
</script>