<% provide(:title, 'List by Type') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>


<div class="plant-index-tab" style="background: #FFF8D9; position: fixed; top: 50px;">
  <p><strong>Climbers</strong></p>
</div>

<!-- To allow for space for the group headings -->
<div style="height: 10px"></div>

<% @current_plants.each do |plant| %>

  <div class="plant-index-box">
    <div class="plant-index-box-photo">
      <% if plant.current_photos.any? %>
		    <%= image_tag plant.current_photos.first.image.url, width:"63px", height:"63px", alt:"Plant photo" %>
      <% else %>
		    <%= image_tag 'no_photo.png', width:"63px", height:"63px", alt:"No photo" %>
      <% end %>      
    </div>
    <div class="plant-index-box-content">
      <div class="center-wrapper">
        <div class="center-wrapper-inner">
          <%= link_to current_plant_path(plant) do %>
            <p style="text-align: center; margin-bottom: 0px; font-size: 120%"><strong><%= truncate(plant.name, length: 20) %></strong></p>
          <% end %>

          <% if !plant.scientific_name.blank? %>
            <%= link_to current_plant_path(plant) do %>
              <p style="text-align: center"><i><%= truncate(plant.scientific_name, length: 20) %></i></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to current_plant_path(plant) do %>
      <div class="plant-index-box-chevron">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    <% end %>
  </div>


<% end %>


<div style="height: 600px"></div>

<p>Older things</p>

<h1>Listing Plants</h1>

<%= link_to 'New Plant', new_current_plant_path %>



<p>Displaying <%= @current_plants.count %> Results:</p>
