<% provide(:title, "List by #{@sort_by}") %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>


<% link_to current_plants_path(sortby: 'a-z') do %>
	<p><i class="fa fa-sort-alpha-asc"></i>&nbsp;&nbsp;A-Z</p>    
<% end %>

<% link_to current_plants_path(sortby: 'type') do %>  
	<p><i class="fa fa-cubes"></i>&nbsp;&nbsp;Type</p>    
<% end %>

<% if is_admin? %>
<div class="index-banner"></div>
<% end %>

<div class="index-banner" id="index-banner-controls" style="<% if is_admin? %>top: 80px<% end %>">
		<ul style="margin-top: 2px">
			<span class="over-600">
				<li style="font-weight: 700">View:</li>
			</span>
			<% if @view == "grid" %>
				<%= link_to controller: 'current_plants', action: 'change_view', view: "list", id: 'list-button' do %>
					<li><i class="fa fa-list"></i>&nbsp;List</li>
				<% end %>
			<% else %>
				<li class="list-active"><i class="fa fa-list"></i>&nbsp;List</li>
			<% end %>

			<% if @view == "list" %>
				<%= link_to controller: 'current_plants', action: 'change_view', view: "grid", id: 'grid-button' do %>
					<li style="margin-right: 5px"><i class="fa fa-th"></i>&nbsp;Grid</li>
				<% end %>
			<% else %>
				<li style="margin-right: 5px" class="list-active"><i class="fa fa-th"></i>&nbsp;Grid</li>
			<% end %>

		</ul>
	
		<div style="margin-left: 10px; display: inline-block">

			<ul>
				<span class="over-600">
				<li style="margin-left: 20px; font-weight: 700; display: initial">Sort by:</li>
				</span>

			<li>
			
   		<%= select_tag 'sort_select', options_for_select(@sort_paths, selected: @sort_by_select_option) %>

			 </li>
			 </ul>
		</div>
</div>
<div style="margin-top: 19px"></div>

<% if is_admin? %>
	<div style="height: 30px"></div>
<% end %>








<% if @view == "grid" %>
	<div id="plants-list">
		<%= render partial: "current_plant_grid", collection: @current_plants, as: :current_plant %>
	</div>
<% else %>
	<div id="plants-list">

	<% @grouped_plants.each do |h| %>
		<% if !h.last.empty? %>
			<div class="list-header" id="header-<%= h.first %>"><%= h.first %></div>
			<%= render partial: "current_plant", collection: h.last, as: :current_plant %>
		<% end %>
	<% end %>





	</div>
<% end %>


<% if signed_in? %>
  <div style="height: 30px"></div>
  <% if is_trusted? %>
    <%= render 'layouts/ui/action_tab_favourites' %>
    <%= render 'layouts/ui/action_tab_new' %>
  <% else %>
    <%= render 'layouts/ui/action_tab_favourites_large' %>
  <% end %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %> <!-- render 'index' instead of 'default' for the types, etc -->

<%= javascript_include_tag "lazyload", media: "all" %>

<script type="text/javascript">

	$("img.img-lazy").lazyload({
     effect : "fadeIn",
     threshold: 00
});

  $('#sort_select').change(function() {
    window.location = $(this).find('option:selected').val();
  });

</script>


<noscript>
	<style>
    #index-banner-controls {
 	  top: 80px
  }
  </style>
</noscript>