<% provide(:title, 'Plants List') %>

<h1>Listing Plants</h1>

<%= link_to 'New Plant', new_current_plant_path %>

<div id="plants_search">
  <%= form_tag current_plants_path, :method => :get do %>
    <%= auto_complete_field_tag_jquery(:search, params[:search], {:placeholder => "Search Plants"}) %>
    <button id='submit_search' style="font-size: 12px;">Search</button>
  <% end %>
</div>

<p>Displaying <%= @current_plants.count %> Results:</p>

<table class="table table-bordered">
	<tr>
		<th width="10%"></th>
		<th width="20%">Name</th>
		<th width="20%">Scientific name</th>
		<th width="40%">Description</th>
		<th width="10%"></th>
	</tr>
	
  <tbody>

	<% @current_plants.each do |plant| %>
	<tr>

    <td style="padding: 3px"><%= image_tag 'plants/rose_1_small.jpg', width:"30px", alt:"Rose", class: "img-circle" %></td>
		<td><%= link_to truncate(plant.name, length: 20), current_plant_path(plant) %></td>
		<td><%= truncate(plant.scientific_name, length: 20) %></td>
		<td><%= truncate(plant.description, length: 50) %></td>


    <!-- Not really necessary, I think. Not for users anyway

		<td><%= link_to 'Edit', edit_current_plant_path(plant) %></td>
		<td><%= link_to 'Delete', current_plant_path(plant), method: :delete, data: { confirm: 'Are you sure?'} %></td>

    -->
	</tr>
	<% end %>

  </tbody>

</table>
