<% provide(:title, 'Search') %>
<% provide(:prev_page, 'Home') %>
<% provide(:prev_link, root_path) %>

<div class="padding-mobile">
	


	<% if @searched %>
		<div class="center-wrapper">
	  	<div class="center-wrapper-inner">
				<h2>Search Results: </h2>
			</div>
		</div>

		<% if @results_count > 0 %>

			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 40px"></th>
						<th>Name</th>
						<th style="width: 40px"></th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'current_plant_search_result', collection: @current_plants, as: 'current_plant' %>
				</tbody>
			</table>

		<% end %>

		<div class="center-wrapper">
	  	<div class="center-wrapper-inner">
	  		<hr/>
				<dt><%= pluralize(@results_count, 'plant') %> found.</dt>
			</div>
		</div>
		<div style="height: 40px"></div>

	<hr/>	
	<div class="center-wrapper">
	 	<div class="center-wrapper-inner">
			<button class="btn btn-primary" id="search-another-button" style="padding-left: 50px; padding-right: 50px"><i class="fa fa-search-plus"></i>&nbsp;&nbsp;Search Again!</button>
		</div>
	</div>
	<br/>

	<% end %>



	<%= render 'search_form' %>
	<div style="height: 40px"></div>

</div>

		<div class="center-wrapper">
	  		<div class="center-wrapper-inner">
			<%= link_to help_search_path do %>
				<button class="btn btn-primary" >Search Help</button>
			<% end %>
			</div>
		</div>
		<div style="height: 40px"></div>

<% if signed_in? %>
  <div style="height: 30px"></div>
  <%= render 'layouts/ui/action_tab_favourites' %>
  <%= render 'layouts/ui/action_tab_new' %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %>


<script type="text/javascript">
	<% if @searched %>
		$("#search-form-hidden").hide();
	<% end %>
	$("#search-another-button").click(function(){
  	$("#search-form-hidden").slideDown();
  	$('html').animate({scrollTop : $('#search-form-hidden').offset().top - 70 },500);
  	$("#search-another-button").hide();
	}); 
</script>