<%= javascript_include_tag "jquery-ui/autocomplete", media: "all" %>
<%= javascript_include_tag "autocomplete-rails", media: "all" %>
<%= stylesheet_link_tag "jquery-ui/autocomplete", media: "all" %>

<% if @searched %>
	<% provide(:title, 'Results') %>
	<% provide(:prev_page, 'Search') %>
	<% provide(:prev_link, search_current_plants_path) %>
<% else %>
	<% provide(:title, 'Search') %>
	<% provide(:prev_page, 'Home') %>
	<% provide(:prev_link, root_path) %>
<% end %>

<div class="padding-mobile">
	
	<% if @searched %>
	
	<div class="center-wrapper">
  	<div class="center-wrapper-inner">
  		<br/>
  		<h3 style="margin-top: 0">You searched for: "<span class="coloured-text smaller-span"><%= @search_string %></span>".</h3>
			<p><%= pluralize(@results_count, 'plant') %> found.</p>
			
		</div>
	</div>
	<div style="height: 10px"></div>

		<% if @results_count > 0 %>

			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 40px"></th>
						<th>Name</th>
						<th style="width: 40px"></th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'current_plant_search_result', collection: @current_plants, as: 'current_plant' %>
				</tbody>
			</table>

		<% end %>		

	<hr/>	

	<% end %>


	<% if !@searched %>
		<%= render 'search_form' %>
		<div style="height: 40px"></div>
	<% end %>

</div>


<div style="height: 40px"></div>

<% if signed_in? %>
  <div style="height: 30px"></div>
  <% if is_trusted? %>
    <%= render 'layouts/ui/action_tab_favourites' %>
    <%= render 'layouts/ui/action_tab_new' %>
  <% else %>
    <%= render 'layouts/ui/action_tab_favourites_large' %>
  <% end %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_default' %>



<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>