<% provide(:title, display_title(@current_plant)) %>
<% provide(:prev_page, 'List') %>
<% provide(:prev_link, current_plants_path) %>

<div class="padding-mobile">

  <% if flash[:success] %>
    <div class="alert alert-info" style="margin-top: 20px">
        <p><%= flash[:success] %></p>
    </div>
  <% elsif is_admin? %>
    <div style="height: 30px"></div>
  <% end %>

  <%= render 'favourite_form' if signed_in? %>

  <div id="tab-descriptions" class="info-body">
    <legend>Descriptions</legend>
    

    <% if @current_plant.display_photo.exists? %>
      <%= image_tag @current_plant.display_photo.url(:medium), class: 'display-photo-right' %>
    <% end %>
    <% if not display_name(@current_plant).blank? %>
      <dt>Scientific Name</dt><p><i><%= display_name(@current_plant) %></i></p>
    <% end %>
    <% if not @current_plant.subspecies.blank? %>
      <dt>Subspecies</dt><p><%= @current_plant.subspecies %></p>
    <% end %>
	  <% if not @current_plant.family.blank? %>
		  <dt>Family</dt><p><%= @current_plant.family %></p>
	  <% end %>
	  <% if not @current_plant.common_name.blank? %>
		  <dt>Common Name</dt><p><%= @current_plant.common_name %></p>
	  <% end %>
    <% if not @current_plant.synonym.blank? %>
      <dt>Synonym</dt><p><%= @current_plant.synonym %></p>
    <% end %>

    <% if @current_plant.type %>
      <dt>Type</dt>
        <p> <%= @current_plant.type.name %> </p>
    <% end %>

    <% if not @current_plant.description.blank? %>
      <dt>Description</dt><p><%= nice_format(@current_plant.description) %></p>
    <% end %>




            


  


	  <% if not @current_plant.characteristics.blank? %>
		  <dt>Characteristics</dt><p><%= nice_format(@current_plant.characteristics) %></p>
	  <% end %>
	  <% if not @current_plant.identification.blank? %>
		  <dt>Identification</dt><p><%= nice_format(@current_plant.identification) %></p>
	  <% end %>
	  <% if not @current_plant.physical.blank? %>
		  <dt>Physical</dt><p><%= nice_format(@current_plant.physical) %></p>
	  <% end %>
	  <% if @current_plant.sizes.any? %>
		  <dt>Sizes</dt>
      <ul>
		  <% for @size in @current_plant.sizes %>
			  <li> <%= @size.name %> </li>
		  <% end %>
      </ul>
	  <% end %>
	  <% if @current_plant.flower_colours.any? %>
		  <dt>Flower Colours</dt>
      <ul>
		  <% for @flower_colour in @current_plant.flower_colours %>
			  <li><div class="colour-circle" style="background: <%= to_colour(@flower_colour) %>"></div><%= @flower_colour.name %></li>
		  <% end %>
      </ul>
	  <% end %>
	  <% if @current_plant.leaf_colours.any? %>
		  <dt>Leaf Colours</dt>
      <ul>
		  <% for @leaf_colour in @current_plant.leaf_colours %>
			  <li><div class="colour-circle" style="background: <%= to_colour(@leaf_colour) %>"></div><%= @leaf_colour.name %></li>
		  <% end %>
      </ul>
	  <% end %>

  </div>




  <div id="tab-architectural" class="info-body" style="display: none">
    <legend>Architectural</legend>
    <% if @current_plant.climates.any? %>
	    <dt>Climates</dt>		
      <ul>
	    <% for @climate in @current_plant.climates %>
		    <li> <%= @climate.name %></li>
	    <% end %>
      </ul>
    <% end %>

    <% if not @current_plant.environment.blank? %>
	    <dt>Environment</dt><p><%= nice_format(@current_plant.environment) %></p>
    <% end %>

    <% if not @current_plant.horticulture.blank? %>
	    <dt>Horticulture</dt><p><%= nice_format(@current_plant.horticulture) %></p>
    <% end %>

    <% if not @current_plant.architectural_uses.blank? %>
	    <dt>Architectural Uses</dt><p><%= nice_format(@current_plant.architectural_uses) %></p>
    <% end %>

    <% if not @current_plant.architectural_info.blank? %>
	    <dt>Architectural Info</dt><p><%= nice_format(@current_plant.architectural_info) %></p>
    <% end %>

    <% if @current_plant.soil_types.any? %>
	    <dt>Soil Types</dt>		
      <ul>
	    <% for @soil_type in @current_plant.soil_types %>
		    <li> <%= @soil_type.name %></li>
	    <% end %>
      </ul>
    <% end %>

  </div>
	

  <div id="tab-environmental" class="info-body" style="display: none">
    <legend>Environmental</legend>
    <% if not @current_plant.culture.blank? %>
	    <dt>Culture</dt><p><%= nice_format(@current_plant.culture) %></p>
    <% end %>

    <% if not @current_plant.conservation.blank? %>
	    <dt>Conservation</dt><p><%= nice_format(@current_plant.conservation) %></p>
    <% end %>

    <% if not @current_plant.wildlife.blank? %>
	    <dt>Wildlife</dt><p><%= nice_format(@current_plant.wildlife) %></p>
    <% end %>

    <% if @current_plant.origins.any? %>
	    <dt>Origins</dt>		
      <ul>
	    <% for @origin in @current_plant.origins %>
		    <li> <%= @origin.name %></li>
	    <% end %>
      </ul>
    <% end %>

    <% if not @current_plant.location_name.blank? %>
	    <dt>UWA Location</dt><p><%= nice_format(@current_plant.location_name) %></p>
    <% end %>

    <% if not @current_plant.general_info.blank? %>
	    <dt>General Info</dt><p><%= nice_format(@current_plant.general_info) %></p>
    <% end %>

    <% if not @current_plant.additional_info.blank? %>
	    <dt>Additional Info</dt><p><%= nice_format(@current_plant.additional_info) %></p>
    <% end %>

    <% if not @current_plant.discovered_by.blank? %>
	    <dt>Discovered By</dt><p><%= nice_format(@current_plant.discovered_by) %></p>
    <% end %>
    <% if not @current_plant.named_by.blank? %>
	    <dt>Named By</dt><p><%= nice_format(@current_plant.named_by) %></p>
    <% end %>

  </div>


  <div id="tab-photos" class="info-body" style="display: none">
    <legend>Photos</legend>
    <dt>Display photo:</dt>
    <% if !@current_plant.display_photo.exists? %>
      <p>This plant has no display photo.</p>
    <% else %>
      <%= image_tag @current_plant.display_photo.url, style: "max-width: 100%; max-height: 400px;" %>
      <%= @current_plant.display_photo_description %>
    <% end %>
    
    <br/><br/>

	  <% for @photo in @current_plant.current_photos %>
		  <%= image_tag @photo.image.url(:medium), style: "max-width: 100%; max-height: 400px;" %>
      <%= @photo.description %>
      <hr/>
	  <% end %>

  </div>

</div> <!-- padding-mobile -->


<% if signed_in? %>
  <div style="height: 30px"></div>
  <%= render 'layouts/ui/action_tab_favourites_small' %>
  <%= render 'layouts/ui/action_tab_edit_small' %>
  <%= render 'layouts/ui/action_tab_new_small' %>
<% end %>

<%= render 'layouts/ui/bottom_tabs_show' %>








<script>

  

  $('#btn-descriptions').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-descriptions').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-descriptions').addClass("info-tab-current");
  });

  <% if has_architectural(@current_plant) %>
    $('#btn-architectural').on('click', function () {
      $('.info-body').css({ display: 'none' });
      $('#tab-architectural').css({ display: '' });
      $('.info-tab').removeClass("info-tab-current");
      $('#btn-architectural').addClass("info-tab-current");
    });
  <% else %>
    $('#btn-architectural').addClass("info-tab-disabled");
  <% end %>

  <% if has_environmental(@current_plant) %>
    $('#btn-environmental').on('click', function () {
      $('.info-body').css({ display: 'none' });
      $('#tab-environmental').css({ display: '' });
      $('.info-tab').removeClass("info-tab-current");
      $('#btn-environmental').addClass("info-tab-current");
    });
  <% else %>
    $('#btn-environmental').addClass("info-tab-disabled");
  <% end %>


  $('#btn-photos').on('click', function () {
    $('.info-body').css({ display: 'none' });
    $('#tab-photos').css({ display: '' });
    $('.info-tab').removeClass("info-tab-current");
    $('#btn-photos').addClass("info-tab-current");
  });  

</script>


